@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Simple ASP.NET based web application connecting to local MSSQL Database.</p>
<p>If players are not displaying please check the database name matches the connection string in appsettings.json. </p>
<p>SQL Scripts can be found to ingest data in the sql_scripts/ directory</p>
<p></p>
