@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    4691 Torrey Circle Apt A205<br />
    San Diego, CA 92130<br />
    <abbr title="Phone">P:</abbr>
    512.843.3886
</address>

<address>
    <strong>Email:</strong> <a href="mailto:ashley.videtto@gmail.com">ashley.videtto@gmail.com</a>
</address>
